.nav-wrapper {
  background: #c5413a;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.nav-wrapper a {
  color: white;
}

// nav-left

.nav-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-wrapper h1 {
  margin: 0;
}

.nav-wrapper form {
  display: flex;
  align-items: center;
}

.nav-wrapper form input {
  margin: 0 10px;
  color: rgb(90, 90, 90);
}
